* {
  /*font-family: 'Didact Gothic', sans-serif;*/
  /*text-shadow: 0 1px 1px #222;*/
  /*font-family: 'PT Sans', sans-serif;*/
  /*font-family: 'Titillium Web', sans-serif;*/
  font-family: 'Maven Pro', sans-serif;
  /*font-family: 'Lekton', sans-serif;*/
  /*font-family: 'Geo', sans-serif;*/
  /*font-family: 'Chathura', sans-serif;*/
}

body {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

img {
  height: 175px;
  width: 325px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Maven Pro', sans-serif;
  padding: none;
  height: 30px;
  width: 150px;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  margin-right: -7px;
}

button:hover {
  background-color: rgb(169,169,169);
  color: white;
}

h1 {
  margin-bottom: -10px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}

input {
  width: 250px;
  height: 20px;
  outline: none;
  margin-bottom: 20px;
}

input[type="text"] {
  font-family: 'Maven Pro', sans-serif;
}

textarea {
  width: 500px;
  height: 200px;
  outline: none;
  margin-bottom: 20px;
}

#submit {
  align-self: row-reverse;
  font-family: 'Maven Pro', sans-serif;
  padding: none;
  height: 30px;
  width: 150px;
  font-size: 16px;
  /*border: 1px solid rgb(169,169,169);*/
  background-color: rgb(169,169,169);
  color: white;
  border: none;
  outline: none;
  margin-right: -7px;
}

#background-fade {
  position: absolute;
  background: rgb(1,1,1);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#modal-shadow {
  position: absolute;
  opacity: 0.5;
  background: rgb(1,1,1);
  width: 100vw;
  height: 100vh;
}

#button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  background: none;
}

#launch-btn {
  font-family: 'Maven Pro', sans-serif;
  padding: none;
  height: 30px;
  width: 150px;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  margin-right: -7px;
}
#launch-btn:hover {
  background-color: rgb(169,169,169);
  color: #F5F5F5;
  cursor: default;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 600px;
}

#link-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100vw;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

#linkedin {
  height: 36px;
  width: 36px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 40px
}

#github {
  height: 36px;
  width: 36px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 40px;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
}

#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-container {
  position: absolute;
}

#about-container {
  position: absolute;
}

#project-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#contact-container {
  position: absolute;
}

#button-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
}

#project-modals {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-modal {
  background-color: #F5F5F5;
  /*background-color: green;*/
  width: 52vw;
  height: 52vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#comic-modal {
  background-color: #F5F5F5;
  width: 52vw;
  height: 52vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#playlist-modal {
  background-color: #F5F5F5;
  width: 52vw;
  height: 52vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#description {
  width: 45%;
}

#screenshots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#project-screens {
  margin: 5px;
}

#working {
  width: 40vw;
  height: 40vh;
}

#fourth-modal {
  background-color: #F5F5F5;
  width: 52vw;
  height: 52vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstClose {
  position: absolute;
  font-size: 18px;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 3px;
}

#secondClose {
  position: absolute;
  font-size: 18px;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 3px;
}

#thirdClose {
  position: absolute;
  font-size: 18px;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 3px;
}

#fourthClose {
  position: absolute;
  font-size: 18px;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 3px;
}

#firstClose:hover {
  background-color: rgb(169,169,169);
  color: #F5F5F5;
  cursor: default;
}

#secondClose:hover {
  background-color: rgb(169,169,169);
  color: #F5F5F5;
  cursor: default;
}

#thirdClose:hover {
  background-color: rgb(169,169,169);
  color: #F5F5F5;
  cursor: default;
}

#fourthClose:hover {
  background-color: rgb(169,169,169);
  color: #F5F5F5;
  cursor: default;
}


/*~~~~~~~~~~~~~~~~~~~~~~ Animations ~~~~~~~~~~~~~~~~~~~~~~*/

#background-fade.active {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -2;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }

#game-modal.show {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /*z-index: 2;*/
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}

#game-modal.hide {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes zoomOut {
  0% {
  opacity: 1;
  }

  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
  }
  @keyframes zoomOut {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
}

#comic-modal.show {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /*z-index: 2;*/
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}

#comic-modal.hide {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes zoomOut {
  0% {
  opacity: 1;
  }

  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
  }
  @keyframes zoomOut {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
}

#playlist-modal.show {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /*z-index: 2;*/
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}

#playlist-modal.hide {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes zoomOut {
  0% {
  opacity: 1;
  }

  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
  }
  @keyframes zoomOut {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
}

#fourth-modal.show {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /*z-index: 2;*/
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}

#fourth-modal.hide {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes zoomOut {
  0% {
  opacity: 1;
  }

  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
  }
  @keyframes zoomOut {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  100% {
  opacity: 0;
  }
}

#header-container.hide {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  @keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
}

#header-container.show {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

#about-container.hide {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  @keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
}

#about-container.show {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

#project-container.hide {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  @keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
}

#project-container.show {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

#contact-container.hide {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: -1;
  }
  @-webkit-keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  @keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
}

#contact-container.show {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

@media-query{

}
